body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0rem 0.75rem 0.75rem;
  line-height: 1.5;
}

#root {
  margin: 0 auto;
  max-width: 1000px;
}

.row {
  margin-bottom: 0.5rem;
}

.row.flex-row {
  display: flex;
  gap: 1rem;
}

input, select {
  margin: 0 0.5rem;
}

.no-margin-left {
  margin-left: 0;
}